* {
  font-family:'Lato', sans-serif;
  margin:0;
  padding:0;
}
  
html, body{
  height:100vh;
}
  
/* Header titre et règles */
header{
  background-color:#450b53;
}
  
header h1{
  margin-top:12px;
  padding:12px;
  background-color:rgb(99, 31, 155);
  border-radius:30px;
  box-shadow:0 0 15px lightgray;
}
  
.showData {
  display: none;
  margin-left: 20px; 
  color: #fff;
  list-style: none;
  margin-bottom: 1px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
  
#header-parent{
  width:80%;
  margin:20px 10px;
}
  
#titre-regles{
  border: none;
  font-weight: bold;
  padding: 8px;
  background-color:rgb(151, 110, 163);
  border-radius: 30px;
  box-shadow:0 0 15px rgb(0, 0, 0);
  width: 100%;
  font-size: 25px;
  cursor: pointer;
}
    
#regles{
  padding: 25px;
  background:#fff;
  line-height:1.7;
  letter-spacing: 1px;
  font-size:1.2rem;
  display:none;
}

/* Interface du jeu */
main{
  margin:30px 0px;
}
  
#main-left{
  box-shadow:0px 0px 15px #8c1b9b;
}
  
#main-left img, #main-right img{
  width:250px;
  height:250px;
}
  
main #dice-image{
  width: 100px;
  height:100px;
  margin-top:60px
}
  
  
/* Boutons */
main button{
  font-size:1.2rem;
  letter-spacing:1px;
  border:solid 2px;
  border-radius:25px;
  background-color: rgb(107, 55, 95);
  cursor:pointer;
}
  
#throw{
  padding:10px 5px;
}
  
#hold{
  padding:10px 5px;
}
  
#throw, #hold{
  margin:10px 0px;
}
  
#new-game{
  padding:8px;
  margin-top:25px;
}

/* Elements de texte et score */
.p-text{
  font-size:1.4rem;
  letter-spacing:1px;
  color:#83154c;
  font-weight:700;
  text-align:center;
}
  
.current{
  margin:15px 0px;
  font-size:1.3rem;
  font-weight:600;
  color:#000000;
}
  
.global{
  font-size:1.3rem;
  font-weight:500;
  padding:3px;
  margin: 10px 0px;
}
  
.player-size{
  font-size:1.8rem;
  font-weight:bold;
  margin-top:5px;
}
  
#div-score-global{
  background-color:#4d0730;
  color:white;
  padding:5px 5px 10px 5px;
  margin-top:10px;
}
  
.global ~ p, .current ~ p{
  font-size:1.5rem;
}
  
#main-left, #main-right{
  margin:30px 120px;
  padding-top:20px;
  text-align:center;
  font-size:1.3rem;
}

/* Ajout de @media pour s'adapter aux breaks points */

@media screen and (max-width:1300px){
#main-left{
  margin:30px 50px 0px 0px;
}
    
#main-right{
     margin:30px 0px 0px 50px;
    }
}
    
@media screen and (max-width:800px){
    #main-left{
          margin:30px 40px 0px 0px;
    }
    #main-right{
          margin:30px 0px 0px 40px;
    }
}
    
@media screen and (max-width:700px){
    #main-left{
          margin:30px 20px 0px 0px;
    }
    #main-right{
          margin:30px 0px 0px 20px;
    }
    #main-left img, #main-right img{
        width:200px;
        height:200px;
    }
    main #dice-image{
        width:70px;
        height:70px;
      }
    }
    
@media screen and (max-width:600px){
    #main-left img, #main-right img{
      width:150px;
      height:150px;
    }
    .current, .global{
      font-size:1.1rem;
    }
}

@media screen and (max-width:480px){
    #main-left{
          margin:30px 10px 0px 0px;
    }
    #main-right{
          margin:30px 10px 0px 10px;
    }
    #main-left img, #main-right img{
        width:100px;
        height:100px;
    }
}